@import url('https://fonts.googleapis.com/css2?family=Chilanka&family=Noto+Sans+TC:wght@400;500;700&display=swap');

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}
button:hover:enabled {
     opacity: 0.8;
 }
button:active:enabled {
     opacity: 0.5;
 }
button:disabled {
    background-color: gray;
}

body {
    color: #222222;
    background-color: LightGoldenRodYellow;
    font-family: 'Noto Sans TC', sans-serif;
}

.page_container {
    width: 65%;
    margin: 0 auto;
}

.banner {
    position: relative;
    width: 100%;
    height: 100px;
    background: linear-gradient(24deg, rgba(93,232,33,1) 0%, rgba(4,136,168,1) 100%);
}
.banner span {
    position: absolute;
    top: 25px;
    left: 50px;
    color: white;
    font-size: 54px;
    font-family: 'Chilanka', cursive;
    font-weight: bolder;
}

.premium_button {
    position: absolute;
    top: 25px;
    right: 50px;
    width: 100px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 1px;
    color: white;
    font-size: 18px;
    font-weight: bolder;
    background-color: Orange;
    opacity: 1;
}
.premium_button:hover {
    top: 26px;
    right: 48px;
    box-shadow: 0 0;
}

.statement {
    position: relative;
    margin: 5px;
    padding: 5px;
    border-radius: 3px;
    color: DarkRed;
    background-color: #ffbdbe;
}
.statement h2,
.statement p {
    margin-left: 20px;
}
.close {
    position: absolute;
    top: 5px;
    right: 5px;
    border: none;
    background: none;
    font-size: 16px;
}

.product {
    position: relative;
    display: flex;
    margin-top: 10px;
    padding: 20px;
    color: #321b08;
    background-color: #ffff92;
}

.product_image {
    width: 30%;
}

.product_image img {
    width: 100%;
    margin: 20px 10px 0 10px;
    border: 1px solid black;
    background-color: white;
}

.price {
    font-size: 18px;
}
.price .strike {
    color: gray;
    text-decoration: line-through;
}
.price .premium_price {
    color: green;
    font-size: 24px;
}

.product_info {
    width: 600px;
    margin-left: 50px;
}

.sel_box_container {
    height: 50px;
}
.sel_box {
    display: inline-block;
    min-width: 35px;
    margin: 5px;
    padding: 5px;
    color: white;
    border-radius: 2px;
    text-align: center;
    cursor: default;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
}
.sel_box.selected {
    padding: 10px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
}

.size_box {
    background-color: gray;
}
.size_box.selected {
    background-color: orange;
}

.panel {
    position: absolute;
    bottom: 0;
    left: 6%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100px;
    margin: 20px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.7);
}

.panel .status {
    padding: 10px;
    font-size: 18px;
    font-weight: bolder;
}

.add_to_cart,
.remove_from_cart {
    width: 90px;
    margin: 10px 10px 0 0;
    padding: 10px;
    border: none;
    border-radius: 2px;
    color: white;
    opacity: 1;
}
.add_to_cart {
    background-color: #3ba7f0;
}
.remove_from_cart {
    background-color: #cf4143;
}

.shopping_cart {
    position: fixed;
    top: 150px;
    right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 250px;
    padding: 10px;
    background-color: #aaff8b;
}

.total {
    position: absolute;
    top: 20px;
    left: 16px;
    font-size: 14px;
    color: #052484;
    transition: 2s;
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -o-transition: 2s;
}

.animation {
    position: relative;
}

.cart_container {
    position: relative;
    width: 20%;
    z-index: 1;
    cursor: pointer;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
}
.cart_img {
    width: 100%;
}
.cart {
    position: absolute;
    top: 1px;
    left: 20px;
    color: #052484;
}

.cashier_img {
    position: absolute;
    top: 0;
    right: 0;
    width: 18%;
}

.ground {
    width: 250px;
    height: 5px;
    background-color: black;
}

.shopping_list {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.shopping_list span {
    margin-top: 10px;
}

.shopping_list ul {
    height: 500px;
    list-style-type: none;
    overflow: hidden;
    overflow-y: scroll;
    padding-left: 0;
}
.shopping_list li {
    margin: 5px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.7);
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80px;
    margin-top: 100px;
    color: white;
    background: linear-gradient(24deg, rgba(93,232,33,1) 0%, rgba(4,136,168,1) 100%);
    font-size: 16px;
    font-weight: bolder;
}
.footer div {
    margin-left: 50px;
}
.footer a {
    color: white;
}
